
hand_mouse_core/hand_mouse_core
hand_mouse_gui/hand_mouse_gui_bin
hand_mouse_cli/hand_mouse_cli
handmouse

.nfs*
*.nfs*
.nfs000000014013df0100004932
.nfs000000014013df010000*
hand_mouse_core/.nfs000000014013df0000004925

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.task

config/*.conf.bak
config/*.conf~

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.log

*.tmp
*.temp
.cache/

*.o
*.ko
*.obj
*.elf
*.a
*.la
*.lo

*.lib

*.dSYM/
*.su
*.idb
*.pdb

core
*.core
